.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

input{
    padding: 5px 50px 5px 50px;
    border: none;
    border-radius: 7px;
    background-color: #fff;
}

.sim-nao{
    display: flex;
    justify-content: center;
}

.escolha-tipo{
    display: flex;
    justify-content: center;
}
.escolha-tipo > .coluna-um{
    padding: 10px;
}

.escolha-tipo > .coluna-dois{
    padding: 10px;
}

.relato{
    padding: 40px 70px 40px 70px;
}

.botao{
    padding: 25px;
    font-size: 15px;
    border-radius: 500px;
    color: #fff;
    background-color: #000;
    border-style: none;
}

.caixa-pergunta{
    padding: 30px;
    margin: 20px;
    border: solid #000;
    border-radius: 20px;
    background-color: #e4e3e3;
}